h1{
    
}
p{
    background-color: blue;
    color: orange;
}
body{
    width: 70%;
    border: 2px solid black;
    margin: auto;
    background-color: darksalmon;
}
main{
    background-color: rgb(red, green, blue);
    margin: auto;
    border: 2px solid;
    padding: 5px;
}
.joystyles{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    color: yellow;
}
ul{
   text-decoration: none;
}
li{
    display: inline;
background-color: yellow;
}
a{
    text-decoration: none;
}